* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

.bg {
    height: 500px;
    width: 100%;
    background-color: gray;
    background-image: url(https://img.freepik.com/fotos-gratis/floresta-do-outono_1182-869.jpg?w=2000);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

table, td, th {
    border: 1px solid black;
}

table tr:first-child{
    background-color: steelblue;
    color: white;
}

table tr:nth-child(2n+3){
    background-color: #999;
}

table {
    font-size: 2.4rem;
    border-collapse: separate;
}

h1{
    color:rgb(104, 70, 8);
    font-size: 9.6rem;
    font-weight: 900;
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 4.2rem;
    font-weight: 900;
    text-decoration: line-through;
}
ul, ol {
    padding-left: 3.4rem;
    font-size: 2rem;
}

ul {
    list-style: circle;
}

ol {
    list-style: decimal-leading-zero;
}

.box {
    height: 10rem;
    width: 20rem;
    margin: 1.5rem;
    padding: 1.5rem;
    border: 8px solid #555;
    display: inline-block;
    border-radius: 0.4rem;
}

img {

}